.container {
  width: 75rem;
  margin: 0px auto;
  padding: 0 2rem;
}

@media (max-width: 62em) {
  .container {
    width: 35rem;
  }
}

@media (max-width: 46em) {
  .container {
    width: 20rem;
  }
}
@media (max-width: 36em) {
}
// .container {
//   width: 20rem;
//   margin: 0px auto;
//   padding: 0 2rem;
// }
